.box {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    background-color: violet;
}

.fizz {
    background-color: green;
}

.buzz {
    background-color: yellowgreen;
}

.fizzbuzz {
    background-color: black;
    color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3rem;

}

body {
    background-color: aqua;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}